.nav-top {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 2px solid #eaeaea;
}
.search {
  width: 50%;
  height: 50px;
}
.logo,
.cart-login {
  width: 15%;
  height: 50px;
}
.nav-bottom {
  display: flex;
  gap: 2%;
  border-bottom: 2px solid #eaeaea;
}
.nav-bottom p {
  font-size: 14px;
}
.nav-bottom > div:nth-child(1) {
  margin-left: 2.7%;
  color: #00afef;
}
.input__search {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  height: 40px;
}
.input__search > input {
  width: 50%;
  height: 38px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.search {
  outline: none;
  padding-left: 5px;
}
.input__search > button {
  width: 120px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #00afef;
}
.search {
  border: 1px solid #e0e0e0;
}

.search__btn {
  outline: none;
  height: 43px;
}
.cart__signIn__div {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 40px;
  justify-content: space-around;
}
.cart__signIn__div > button {
  width: 100px;
  background: none;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.icon-cart,
.icon-signin {
  font-size: 18px !important;
  margin: 5px;
  color: #5acffa;
}
.icon-search {
  font-size: 20px;
  margin: 10px;
  color: #ffffff;
}
.babyHover,
.beautyHover,
.hairHover,
.faceHover,
.bodyHover {
  display: none;
  position: absolute;
  top: 2.8em;
  grid-template-columns: repeat(3, 130px);
  background-color: white;
  z-index: 1;
  cursor: pointer;
}
.baby,
.beauty,
.hair,
.face,
.body {
  position: relative;
  cursor: pointer;
}
.baby:hover .babyHover,
.beauty:hover .beautyHover,
.hair:hover .hairHover,
.face:hover .faceHover,
.body:hover .bodyHover {
  display: grid;
  border-top: 2px solid #00afef;
}
li {
  list-style-type: none;
  padding-bottom: 5%;
  color: gray;
  font-size: 14px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  height: 70%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.signin,
.Hsignup {
  width: 20%;
  margin: auto;
  margin-bottom: 8%;
}
#myBtn {
  background-color: white;
  border: none;
  margin-top: 5%;
  cursor: pointer;
}
.box-style {
  width: 95%;
  height: 7%;
}
#button-style {
  padding: 10px 148px;
  background-color: black;
  color: white;
  border: none;
  font-size: 17px;
  cursor: pointer;
}
.forget {
  color: blue;
  text-decoration: none;
  float: right;
}
#butn,
#log-In {
  color: blue;
}
.asignup {
  width: 85%;
  margin: auto;
}
.btn-signup {
  padding: 10px 139px;
  background-color: black;
  color: white;
  border: none;
  font-size: 17px;
  cursor: pointer;
}
